@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: Lazer84;
  src: url(Lazer84.ttf);
  font-style: normal;
}

@font-face {
  font-family: Neon;
  src: url(Neon.ttf);
  font-style: normal;
}

@font-face {
  font-family: VCR_OSD;
  src: url(VCR_OSD.ttf);
}

a {
  text-decoration: none;
  color: yellow;
}

a:visited {
  text-decoration: none;
  color: none;
}


* {
  padding: 0;
  margin: 2px;
}

body {
  background: hsl(250, 0%, 0%);
}


ul li {
  float: left;
  list-style: none;
  margin-right: 1em;
  font-family: 'Press Start 2P', cursive;
}

li a {
  color: hsl(317, 100%, 34%);
  text-decoration: none;
  float: left;
  font-size: 25px;
  padding: 12px;
}

li a:hover {
  color: hsl(317, 100%, 42%);
}

.left a:hover {
  -webkit-transition: All .5s ease;
  -moz-transition: All .5s ease;
  -o-transition: All .5s ease;
  -webkit-transform: rotate(-10deg) scale(1.2);
  -moz-transform: rotate(-10deg) scale(1.2);
  -o-transform: rotate(-10deg) scale(1.2);
}

.right a:hover {
  -webkit-transition: All .5s ease;
  -moz-transition: All .5s ease;
  -o-transition: All .5s ease;
  -webkit-transform: rotate(10deg) scale(1.2);
  -moz-transform: rotate(10deg) scale(1.2);
  -o-transform: rotate(10deg) scale(1.2);
}

#title {
  display: block;
  text-align: center;
  font-family: Lazer84, cursive;
  color: hsl(192, 100%, 50%);
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px hsl(192, 100%, 50%),
    0 0 82px hsl(192, 100%, 50%),
    0 0 92px hsl(192, 100%, 50%),
    0 0 102px hsl(192, 100%, 50%),
    0 0 151px hsl(192, 100%, 50%);
  padding-top: 100px;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#neon-leaf {
  height: 75%;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#intro {
  display: block;
  text-align: center;
  font-family: 'VCR_OSD', cursive;
  color: hsl(60, 100%, 45%);
  padding-top: 60px;
  font-size: 40px;
}

#intro:hover {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px hsl(60, 100%, 45%),
    0 0 82px hsl(60, 100%, 45%),
    0 0 92px hsl(60, 100%, 45%),
    0 0 102px hsl(60, 100%, 45%),
    0 0 151px hsl(60, 100%, 45%);
}

#div1 {
  display: block;
  position: static;
  background-color: hsl(317, 100%, 42%);
  width: 250px;
  height: 350px;
  left: 200px;
  border-radius: 7px;
}

#div2 {
  display: block;
  position: static;
  background-color: hsl(317, 100%, 42%);
  width: 250px;
  height: 350px;
  border-radius: 7px;
  left: 500px;
}

#div3 {
  display: block;
  position: static;
  background-color: hsl(317, 100%, 42%);
  width: 250px;
  height: 350px;
  border-radius: 7px;
  left: 800px;
}

#main,
#about,
#strains {
  display: block;
  text-align: center;
  font-family: 'VCR_OSD', cursive;
  font-size: 23px;
}

#about_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  border-radius: 7px;
}

#strains_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 7px;
}

#art {
  display: block;
  border-radius: 7px;
  padding-top: 110px;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  width: 75%;
}

#timeDiv {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: hsl(317, 100%, 42%);
  width: 250px;
  border-radius: 7px;
}

#time {
  display: block;
  text-align: center;
  font-family: 'VCR_OSD', cursive;
  font-size: 35px;
}

#big-div {
  display: flex;
  justify-content: space-around;
}

#div4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 79%;
  height: auto;
  border-radius: 7px;
  background-color: hsl(317, 100%, 42%);
}

#venice {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border-radius: 7px 7px 0 0;
}

#second {
  display: block;
  text-align: center;
  font-family: 'VCR_OSD', cursive;
  font-size: 25px;
}

.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(60, 100%, 60%);
  border-radius: 7px;
  width: 75%;
  padding: 5px;
  font-family: 'VCR_OSD', cursive;
}

#footer {
  text-align: center;
  color: black;
}
